In [3]:
%matplotlib inline 
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np 
import cufflinks as cf
import plotly.offline as py  
import plotly.graph_objs as go
cf.go_offline
py.init_notebook_mode
df_train=pd.read_csv("train_2v.csv",sep=",") 
df_test=pd.read_csv("test_2v.csv",sep=",")
df_train.head(15)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,52800,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,41413,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,15266,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,28674,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0
10,10460,Female,79.0,0,0,Yes,Govt_job,Urban,77.08,35.0,NaN,0
11,64908,Male,79.0,0,1,Yes,Private,Urban,57.08,22.0,formerly smoked,0
12,63884,Female,37.0,0,0,Yes,Private,Rural,162.96,39.4,never smoked,0
13,37893,Female,37.0,0,0,Yes,Private,Rural,73.50,26.1,formerly smoked,0
14,67855,Female,40.0,0,0,Yes,Private,Rural,95.04,42.4,never smoked,0

In [4]:
df_clean_train=df_train.dropna()
print(len(df_clean_train))
print(len(df_train))

29072
43400

In [5]:
g=df_clean_train["gender"].unique().tolist() 
print(g)
ev=df_clean_train["ever_married"].unique().tolist()
print(ev)
wt=df_clean_train["work_type"].unique().tolist()
print(wt)
rt=df_clean_train["Residence_type"].unique().tolist()
print(rt)
smt=df_clean_train["smoking_status"].unique().tolist() 
print(smt)

['Male', 'Female', 'Other']
['Yes', 'No']
['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked']
['Urban', 'Rural']
['never smoked', 'formerly smoked', 'smokes']

In [7]:
df_clean_train["gender"]=df_clean_train["gender"].astype("category").cat.codes
df_clean_train["ever_married"]=df_clean_train["gender"].astype("category").cat.codes 
df_clean_train["work_type"]=df_clean_train["work_type"].astype("category").cat.codes
df_clean_train["Residence_type"]=df_clean_train["Residence_type"].astype("category").cat.codes 
df_clean_train["smoking_status"]=df_clean_train["smoking_status"].astype("category").cat.codes

In [8]:
df_clean_train.head(15)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,30468,1,58.0,1,0,1,2,1,87.96,39.2,1,0
3,56543,0,70.0,0,0,0,2,0,69.04,35.9,0,0
6,52800,0,52.0,0,0,0,2,1,77.59,17.7,0,0
7,41413,0,75.0,0,1,0,3,0,243.53,27.0,1,0
8,15266,0,32.0,0,0,0,2,0,77.67,32.3,2,0
9,28674,0,74.0,1,0,0,3,1,205.84,54.6,1,0
11,64908,1,79.0,0,1,1,2,1,57.08,22.0,0,0
12,63884,0,37.0,0,0,0,2,0,162.96,39.4,1,0
13,37893,0,37.0,0,0,0,2,0,73.50,26.1,0,0
14,67855,0,40.0,0,0,0,2,0,95.04,42.4,1,0
15,25774,1,35.0,0,0,1,2,0,85.37,33.0,1,0
16,19584,0,20.0,0,0,0,2,1,84.62,19.7,2,0
17,24447,0,42.0,0,0,0,2,0,82.67,22.5,1,0
18,49589,0,44.0,0,0,0,0,1,57.33,24.6,2,0
19,17986,0,79.0,0,1,0,3,1,67.84,25.2,2,0

In [9]:
df_clean_train.columns
features=['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']
x=df_clean_train[features]
y=df_clean_train["stroke"]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 
from sklearn.tree import DecisionTreeClassifier
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,stratify=y,random_state=315)
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9551886792452831

In [11]:
df_test.isnull().any()
df_cleaning_test=df_test.dropna()
df_cleaning_test["ever_married"]=df_cleaning_test["ever_married"].astype("category").cat.codes
df_cleaning_test["gender"]=df_cleaning_test["gender"].astype("category").cat.codes
df_cleaning_test["work_type"]=df_cleaning_test["work_type"].astype("category").cat.codes
df_cleaning_test["Residence_type"]=df_cleaning_test["Residence_type"].astype("category").cat.codes
df_cleaning_test["smoking_status"]=df_cleaning_test["smoking_status"].astype("category").cat.codes

In [12]:
df_cleaning_test.head(15)
df_cleaning_test["stroke"]=clf.predict(df_cleaning_test[features])
print(len(df_cleaning_test["stroke"][df_cleaning_test["stroke"]==1])/len(df_cleaning_test))
df_cleaning_test[df_cleaning_test["stroke"]==1]

0.027046607099734363

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
29,26363,1,75.0,0,0,1,2,1,116.78,22.4,2,1
51,41707,1,60.0,0,0,1,2,1,108.39,30.9,1,1
75,39532,1,42.0,1,0,1,2,0,82.89,43.0,1,1
100,8268,0,78.0,1,0,1,3,0,116.29,29.0,1,1
119,41777,0,67.0,1,0,1,3,0,87.20,30.0,1,1
173,8155,0,68.0,0,0,1,0,1,79.81,35.2,1,1
226,15430,1,82.0,0,0,0,2,1,110.14,22.7,1,1
355,40186,1,58.0,0,0,1,2,1,61.26,26.5,1,1
380,10756,1,80.0,0,0,1,3,1,87.19,41.3,1,1
388,46961,0,44.0,0,0,1,3,1,67.20,20.4,1,1
454,63286,0,81.0,0,0,1,2,0,95.30,22.1,0,1
592,53307,0,56.0,1,0,1,0,0,65.83,24.1,1,1
636,62516,0,42.0,0,0,1,0,1,64.03,19.8,1,1
687,15463,0,78.0,0,0,1,2,1,75.28,26.7,1,1
816,71431,1,78.0,0,1,1,2,1,229.66,28.2,2,1
853,65029,0,81.0,1,1,1,2,1,76.16,23.9,1,1
959,6036,0,59.0,0,0,1,3,0,80.48,35.7,2,1
1024,62365,0,82.0,0,0,1,2,0,78.68,23.4,1,1
1025,32292,0,77.0,0,1,1,3,1,96.56,32.7,1,1
1034,8100,0,51.0,1,1,1,2,1,225.07,49.3,0,1
1050,62024,0,82.0,1,1,1,2,0,66.49,19.1,1,1
1068,25245,0,71.0,0,0,0,2,1,95.76,20.1,0,1
1240,20993,0,54.0,1,0,0,3,1,110.76,56.7,1,1
1277,48773,0,78.0,0,0,1,3,1,76.66,28.7,1,1
1355,69205,0,62.0,0,0,1,2,1,206.34,36.6,1,1
1359,34455,1,69.0,0,0,0,0,0,82.40,29.0,2,1
1466,36619,1,79.0,0,0,1,3,1,55.43,24.7,0,1
1479,51417,0,77.0,0,0,1,2,0,136.49,23.3,1,1
1513,6945,1,54.0,0,0,1,0,1,68.26,31.8,0,1
1535,44843,0,72.0,1,1,1,3,0,119.20,28.9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16733,64538,0,75.0,1,0,0,2,0,122.68,35.6,2,1
16843,6959,0,60.0,0,0,1,3,1,169.08,27.4,0,1
16906,17628,0,66.0,1,0,1,0,0,89.54,29.3,1,1
16987,60767,1,56.0,0,0,1,3,0,220.91,31.0,2,1
17109,41972,1,54.0,1,0,1,0,1,74.74,32.4,1,1
17210,44280,1,76.0,0,1,1,0,1,89.98,25.8,2,1
17310,40939,1,39.0,0,1,1,2,1,64.95,36.5,2,1
17341,42509,0,55.0,1,0,1,0,1,233.29,46.7,0,1
17376,41758,0,67.0,0,0,1,3,0,62.06,21.8,2,1
17397,60435,1,79.0,0,1,1,2,0,58.31,26.6,1,1
17407,68973,1,34.0,0,0,1,2,0,189.16,30.1,2,1
17474,25884,1,67.0,0,0,1,0,0,214.67,24.4,0,1
17490,60715,0,40.0,1,0,1,0,1,81.93,43.3,1,1
17536,44379,1,54.0,0,0,1,3,0,220.93,26.5,2,1
17547,9530,0,43.0,1,0,1,2,1,82.23,40.7,1,1
17686,33141,1,42.0,0,0,1,0,0,86.62,40.5,2,1
17731,51233,1,56.0,1,1,1,0,0,72.92,32.4,0,1
17754,13058,0,80.0,0,0,1,3,1,86.48,33.0,0,1
17758,57718,0,69.0,0,0,1,0,1,209.23,45.0,1,1
17957,31465,1,78.0,1,1,1,2,1,191.44,32.6,0,1
18029,69223,0,67.0,0,0,1,2,0,217.24,23.9,0,1
18044,44442,1,42.0,0,0,1,2,0,86.84,41.6,2,1
18164,30284,0,81.0,0,0,1,0,0,78.34,23.5,1,1
18351,4976,0,46.0,0,0,1,2,1,95.13,25.0,0,1
18401,28656,1,82.0,0,0,1,3,1,80.13,29.6,0,1
18408,67419,0,43.0,1,0,1,2,1,85.15,48.1,1,1
18435,19553,0,78.0,1,0,1,2,1,236.99,32.4,1,1
18469,51942,0,73.0,1,1,1,0,1,81.22,21.6,0,1
18587,26705,1,79.0,0,1,0,2,1,110.27,36.2,1,1
18598,29839,0,79.0,0,0,1,2,0,125.74,29.4,1,1